/* # is used for ID */

#clockContainer{  

    /* specifies the type of positioning method used for 
    an element (static, relative, fixed, absolute or sticky). */
    position: relative;
    /* properties are used to create space around elements, 
    outside of any defined borders. */
    margin: auto;
    height: 40vw;
    /* vw is  viewport i.e. Height and width 
    change accoding to view size */
    width: 40vw; 
    /* background image is only showing once
        (no-repeat) */
    background: url(clock.png) no-repeat;

    /* Size of Background Image */
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    /* property allows you to change the position of transformed elements. */
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    /* According to absolute position */
    left: 48.85%;
    /* property specifies transparency of an element.*/
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    ;
    
}